div a {
    text-align: center;
    display: block;
    
}
.buttons{
    padding-bottom: 50px;
}
#flex-Blox{
    display: none; 
    text-align: center;
    justify-content: space-around;
   
}
#flex-Blox div{
    width: 100px;
    height: 100px;
    background-color: blue;
    
}